@page "/category"
@using ConstructionExchangeQuotes.Shared
@using System.Web
@using System.Net
@inject NavigationManager NavigationManager
@inject HttpClient Http

@if (_elementCategoryInEdit != null)
{
    <Modal Title="Edit element category" OnClose="CancelElementCategoryEdit" OnConfirm="OnConfirmEditCategory" ShouldRenderButtons="false">
        <EditForm Model="@_elementCategoryInEdit" OnValidSubmit="OnConfirmEditCategory" class="mb-5">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="name">Name</label>
                <InputText id="name" @bind-Value="_elementCategoryInEdit.Name" class="form-control" />
            </div>
            <div class="d-flex w-100 justify-content-around">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" @onclick="CancelElementCategoryEdit">Cancel</button>
            </div>
        </EditForm>
    </Modal>
}

@if (isFailedDeleteModalOpen)
{
    <PromptModal Title="Failed to delete" Description="Failed to delete element category since is used on elements, please delete elements to delete this element category" OnClose="CloseModal" OnConfirm="CloseModal"></PromptModal>
}

<EditForm Model="@_elementCategory" OnValidSubmit="CreateCategory" class="mb-5">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h4>Add category type</h4>
    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" @bind-Value="_elementCategory.Name" class="form-control" />
    </div>
    <div class="d-flex w-100 justify-content-center">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</EditForm>

<div class="mb-5">
    <input type="text" class="form-control w-100" value="@_nameFilter" @oninput="OnChangeNameFilter" placeholder="Search by name" />
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var elementCategory in _elementCategories)
        {
            <tr>
                <th scope="row">@elementCategory.Id</th>
                <td>@elementCategory.Name</td>
                <td>
                    <button class="btn btn-danger" @onclick="async () => await DeleteCategory(elementCategory.Id)">Delete</button>
                    <button class="btn btn-secondary" @onclick="() => _elementCategoryInEdit = elementCategory.CloneObject()">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private ElementCategoryDto _elementCategory = new ElementCategoryDto();
    private IList<ElementCategoryDto> _elementCategories = new List<ElementCategoryDto>();
    private ElementCategoryDto _elementCategoryInEdit;
    private string _nameFilter = string.Empty;
    private bool isFailedDeleteModalOpen = false;

    protected override async Task OnInitializedAsync()
    {
        await InitializeCategories();
    }

    public async Task InitializeCategories()
    {
        var uriBuilder = new UriBuilder($"{NavigationManager.BaseUri}element/get-categories");
        var query = HttpUtility.ParseQueryString(uriBuilder.Query);

        if (!string.IsNullOrWhiteSpace(_nameFilter))
            query["name"] = _nameFilter;

        uriBuilder.Query = query.ToString();
        _elementCategories = await Http.GetFromJsonAsync<IList<ElementCategoryDto>>(uriBuilder.ToString());
    }

    public async Task CreateCategory()
    {
        await Http.PostAsJsonAsync("element/add-category", _elementCategory);

        _elementCategory = new ElementCategoryDto();
        await this.InitializeCategories();
    }

    public async Task DeleteCategory(int? id)
    {
        var response = await Http.DeleteAsync($"element/delete-category/{id.Value}");
        if (response.StatusCode != HttpStatusCode.OK)
        {
            isFailedDeleteModalOpen = true;
            return;
        }
        await InitializeCategories();
    }

    async Task OnConfirmEditCategory()
    {
        await Http.PostAsJsonAsync($"element/edit-category", _elementCategoryInEdit);
        _elementCategoryInEdit = null;
        await InitializeCategories();
    }

    void CancelElementCategoryEdit()
    {
        _elementCategoryInEdit = null;
    }

    async Task OnChangeNameFilter(ChangeEventArgs args)
    {
        _nameFilter = args.Value.ToString();
        await InitializeCategories();
    }

    void CloseModal()
    {
        isFailedDeleteModalOpen = false;
    }
}
