@page "/element-type"
@using ConstructionExchangeQuotes.Shared
@using System.Net
@using System.Web
@inject HttpClient Http
@inject NavigationManager NavigationManager 

@if (_elementTypeInEdit != null)
{
    <Modal Title="Edit element type" OnClose="CancelElementTypeEdit" ShouldRenderButtons="false">
        <EditForm Model="@_elementTypeInEdit" OnValidSubmit="OnConfirmEditCategory" class="mb-5">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="name">Name</label>
                <InputText id="name" @bind-Value="_elementTypeInEdit.Name" class="form-control" />
            </div>
            <div class="d-flex w-100 justify-content-around">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" @onclick="CancelElementTypeEdit">Cancel</button>
            </div>
        </EditForm>
    </Modal>
}

@if (isDeleteElementTypeFailedModalOpen)
{
    <PromptModal Title="Failed to delete" Description="Failed to delete element type since is used on elements, please delete elements to delete this element type" OnClose="CloseModal" OnConfirm="CloseModal"></PromptModal>
}

<EditForm Model="@_elementTypeDto" OnValidSubmit="CreateElementType" class="mb-5">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h4>Add element type</h4>
    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" @bind-Value="_elementTypeDto.Name" class="form-control" />
    </div>
    <div class="d-flex w-100 justify-content-center">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</EditForm>

<div class="mb-5">
    <input type="text" class="form-control w-100" value="@_nameFilter" @oninput="OnChangeNameFilter" placeholder="Search by name" />
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var elementType in _elementTypes)
        {
            <tr>
                <th scope="row">@elementType.Id</th>
                <td>@elementType.Name</td>
                <td>
                    <button class="btn btn-danger" @onclick="async () => await DeleteElementType(elementType.Id)">Delete</button>
                    <button class="btn btn-secondary" @onclick="() => _elementTypeInEdit = elementType.CloneObject()">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private ElementTypeDto _elementTypeDto = new ElementTypeDto();
    private IList<ElementTypeDto> _elementTypes = new List<ElementTypeDto>();
    private ElementTypeDto _elementTypeInEdit;
    private bool isDeleteElementTypeFailedModalOpen = false;
    private string _nameFilter = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await InitializeElementTypes();
    }

    public async Task InitializeElementTypes()
    {
        var uriBuilder = new UriBuilder($"{NavigationManager.BaseUri}element/get-element-types");
        var query = HttpUtility.ParseQueryString(uriBuilder.Query);

        if (!string.IsNullOrWhiteSpace(_nameFilter))
            query["name"] = _nameFilter;

        uriBuilder.Query = query.ToString();
        _elementTypes = await Http.GetFromJsonAsync<IList<ElementTypeDto>>(uriBuilder.ToString());
    }

    public async Task CreateElementType()
    {
        await Http.PostAsJsonAsync("element/add-type", _elementTypeDto);

        _elementTypeDto = new ElementTypeDto();
        await this.InitializeElementTypes();
    }

    async Task OnConfirmEditCategory()
    {
        await Http.PostAsJsonAsync("element/edit-type", _elementTypeInEdit);
        _elementTypeInEdit = null;
        await InitializeElementTypes();
    }

    void CancelElementTypeEdit()
    {
        _elementTypeInEdit = null;
    }

    public async Task DeleteElementType(int? elementId)
    {
        var response = await Http.DeleteAsync($"element/delete-type/{elementId.Value}");
        if (response.StatusCode != HttpStatusCode.OK)
        {
            isDeleteElementTypeFailedModalOpen = true;
            return;
        }
        await InitializeElementTypes();
    }

    void CloseModal()
    {
        isDeleteElementTypeFailedModalOpen = false;
    }

    async Task OnChangeNameFilter(ChangeEventArgs args)
    {
        _nameFilter = args.Value.ToString();
        await InitializeElementTypes();
    }
}
