@using ConstructionExchangeQuotes.Shared

@code{
    [Parameter]
    public QuoteDto Quote { get; set; }
    [Parameter]
    public EventCallback Refetch { get; set; }

    private bool isArchiveModalOpen = false;
    private double total;

    protected override void OnInitialized() =>
        total = Quote.SubTotal + (Quote.SubTotal * (Quote.TaxRatePercentage / 100));
}

@if (isArchiveModalOpen)
{
    <PromptModal Title="Archive quote"
                 Description="Are you sure you want to archive this quote?"
                 OnClose="@(() => isArchiveModalOpen = false)"
                 OnConfirm="@(async() => await Refetch.InvokeAsync(null))" />
}

<div class="card">
    <div class="card-header">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Rate</th>
                    <th>Amount</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var quoteElement in Quote.QuoteElements)
                {
                    <tr>
                        <td>@quoteElement.Element.Name</td>
                        <td>$@quoteElement.Element.Rate</td>
                        <td>@quoteElement.Amount</td>
                        <td>$@(quoteElement.Amount * quoteElement.Element.Rate)</td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="close" aria-label="Close" @onclick="@(() => isArchiveModalOpen = true)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Subtotal - @Quote.SubTotal</td>
                </tr>
                <tr>
                    <td>Tax rate - @Quote.TaxRatePercentage%</td>
                </tr>
                <tr>
                    <td>Total - @total</td>
                </tr>
                <tr>
                    <td>Date created - @Quote.DateCreated</td>
                </tr>
                @if (Quote.CustomerEmail != null)
                {
                    <tr>
                        <td>Customer email - @Quote.CustomerEmail</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>